{% resource 'c3charts/form' %}
{% import 'macros/form.html' as form %}

<div data-module="c3charts_form"
     data-module-controls="{{ h.dump_json(resource_view) }}"
     id="c3controls"
     class="c3controls">

    {% block form %}

        {{ form.select('chart_type', label=_('Chart Type'), options=chart_types,
            selected=resource_view['chart_type'], is_required=True) }}

        {{ form.select('color_scheme', label=_('Color Pattern'), options=color_schemes,
            selected=resource_view['color_scheme'], is_required=True) }}

        {{ form.select('legend_position', label=_('Legend position'), options=legend_positions,
            selected=resource_view['legend_position'], is_required=True) }}

        {{ form.checkbox('rotated', id='rotated', value='True', label=_('Rotate axis'),
                            checked=resource_view['rotated'] is defined) }}

        <div class="alert alert-info">
            <p>Select the keys for the data that needs to be charted.</p>
        </div>
        <label class="control-label" id="key_fields_label">
            <span title="This field is required" class="control-required">*</span> Data keys
        </label>
        <div class="c3charts-form-split-container" id="key_fields_container">
            {% for item in fields %}
                {{ form.checkbox('key_fields', id=['key_fields_', item.value]|join, label=item.value,
                            value=item.value, checked=False, classes=['c3select']) }}
            {% endfor %}
        </div>

        <div class="alert alert-info" id="x_fields_help">
            <p>Select the keys for the progression (x-axis) of the data values.</p>
        </div>
        <label class="control-label" id="x_fields_label">
            <span title="This field is required" class="control-required">*</span> Progress keys
        </label>
        <div class="c3charts-form-split-container" id="x_fields_container">
            {% for item in fields %}
                {{ form.checkbox('x_fields', id=['x_fields_', item.value]|join, label=item.value,
                            value=item.value, checked=False, classes=['c3select']) }}
            {% endfor %}
        </div>
        {{ form.input('measure_unit', label=_('Append Unit'), value=resource_view['measure_unit']) }}

        <div id="table-chart">
            <div class="alert alert-info">
                <p>Customize the look of the table chart.</p>
            </div>
            {{ form.textarea('header', id='header', value=resource_view['header'], label='Header text') }}
            {{ form.select('text_chart_number_action', label=_('Number value'), options=text_chart_number_actions,
                selected=resource_view['text_chart_number_action'], is_required=True) }}
        </div>

    {% endblock %}

</div>