.c3charts-form-split-container {
    padding: 0;
    padding-top: 0px;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}

.c3charts-form-split-container .controls {
    margin-left: 20px;
    margin-right: 10px;
}

.c3charts-form-split-container .control-label {
    margin-left: 20px;
    text-align: left;
}

.c3select {
    padding-left: 0px;
    margin-left: 0px;
    width: 240px;
}

.c3input {
    padding-left: 0px;
    margin-left: 0px;
    width: 240px;
}

.c3charts-form-split-container input[type="checkbox"] {
    top: 3px;
}

#chart_base_color {
    width: 220px;
    height: 30px;
}

.color_scheme {
    display: none
}

.sortable-placeholder {
    margin-left: 10 !important;
    border: 10px solid #ccc;
    width: 200px;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}