@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.c3-legend-item {
    font-size: 15px;
    margin-top: 0px;
}

.c3 svg {
    font-size: 13px;
}

#chart2 .c3-line {
    stroke-width: 3px;
    stroke-linecap: round;
}

.table-number {
    font-size: 90px;
    line-height: 100px;
    padding-bottom: 20px;
}

.c3chart {
    background: #FFFFFF;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

.text-chart-h {
    font-size: 21px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: 700;
    line-height: 1.1;
}