.c3-legend-item {
    font-size: 15px;
    margin-top: 0px;
}

.c3 svg {
    font-size: 13px;
}

#chart2 .c3-line {
    stroke-width: 3px;
    stroke-linecap: round;
}

.table-number {
    font-size: 90px;
    line-height: 100px;
    padding-bottom: 20px;
}

.c3chart {
    background: #FFFFFF;
    position: relative;
    padding: 0;
    margin: 0;
}

.table-number {
    font-size: 72px;
    margin-top: 15px;
    margin-bottom: 30px
}

.sql-columns{
    display: -ms-flexbox; /* Required for < IE11 */
    display: flex;
    -ms-flex-wrap: wrap; /* Required for < IE11 */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sql-columns .well{
    margin: 3px;
}