@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../bootstrap-3.3.6/fonts/glyphicons-halflings-regular.eot);
    src: url(../bootstrap-3.3.6/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../bootstrap-3.3.6/fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../bootstrap-3.3.6/fonts/glyphicons-halflings-regular.woff) format('woff'), url(../bootstrap-3.3.6/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../bootstrap-3.3.6/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.c3-legend-item {
    font-size: 15px;
    margin-top: 0px;
}

.c3 svg {
    font-size: 13px;
}

.wtf{text: 5403px}

#chart2 .c3-line {
    stroke-width: 3px;
    stroke-linecap: round;
}

.table-number {
    font-size: 90px;
    line-height: 100px;
    padding-bottom: 20px;
}

.c3chart {
    background: #FFFFFF;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-triangle-bottom:before {
    content: "\e252"
}

.glyphicon-triangle-top:before {
    content: "\e253"
}

.table-number {
    font-size: 72px;
    margin-top: 15px;
    margin-bottom: 30px
}